*			text=auto
*.txt		text
animdefs.*	text
textures.*	text
TEXTURES.*	text
sndinfo.*	text
gldefs.*	text
modeldef.*	text
decaldef.*	text

*.png		binary
*.imgz		binary
*.lmp		binary
*.flac		binary
*.dat		binary
*.wad		binary
